li{
    height: 50px;
    display: flex;
    justify-content: space-between
   
}

h1{
    margin-bottom: 50px;
}

ul{
    height: 240px;
    width: 750px;
    max-width: 750px;
    justify-content: flex-end;
    background-color: aliceblue;
}

main{
    align-items: center;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

}
div{
    height: 45px;
    width: 800px;
    max-width: 800px;
    justify-content:space-between;
    background-color:rgb(43, 40, 40);
    color: aliceblue;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    border-radius: 4px;
}

section{
    height: 45px;
    width: 800px;
    max-width: 800px;
    justify-content:space-between;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
    
}
button{
    height: 40px;
    width: 800px;
    max-width: 800px;
    background-color: aqua;
    color: aliceblue;
    border-radius: 4px;
    margin-top: 10px;
}
button:hover{
    border: solid rgb(39, 35, 35);
}

.h33{
    padding: 0 45px;
  }